<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Sign up') %>
<% provide(:url, signup_path) %>


<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form' %>
  </div>
</div>