<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> <br/>
      	<h5><%= @user.email %></h3>
      </h1>
    </section>
  </aside>
</div>