<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="https://www.facebook.com/Mohamed.Z.F">Mohamed Zain</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/Mohamed.Z.F">News</a></li>
    </ul>
  </nav>
</footer>